.draggable {
    width: 100px;
    height: 100px;
    border: solid 1px black;
    background-color: #beefff;
}

.droppableWrapper {
    color: var(--inverted-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.droppable {
    width: 78%;
    height: 600px;
    background-color: white;
}

.trashBin {
    width: 18%;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}